<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/header_s.css" />
    <title>AFG proverbs</title>
  </head>
  <body>
    <div class="header_container">
      <a href="/">Home</a>
      <a href="details">Add</a>
      <a href="">Edit</a>
      <a href="">Delete</a>
    </div>
    
